<!doctype html>
<html ng-app="mockTrader">
  <head>
    <title>Demo Trading Application</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="src/common/js/tab.js"/></script>
    <script src="src/trade/js/trade.js"/></script>
    <script src="src/order/js/order.js"/></script>
    <script src="src/app.js"/></script>
    <link rel="stylesheet" type="text/css" href="src/css/app.css"></link>
  </head>
  <body>
    <!--[if lt IE 9]>
      <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'>
        <p> This needs a newer browser to run. Please download one using the below links </p>
        <div> <a href="https://www.google.com/chrome/browser/desktop/"> Google Chrome </a></div>
        <div> <a href="https://www.mozilla.org/en-US/firefox/new/"/> Firefox </a></div>
      </div>
    <![endif]-->
    <!--[if gt IE 9]> -->
    <header>
      <div class="app-title">
        <h1> Demo Trading Application </h1>
      </div>
      <div class="user-menu">
        {{ username }}
      </div>
    </header>
    <div ng-controller='TradeController as tradeController'>
      <div ng-controller='TabController as tabController' class='tab-container'>
        <div class='tab-header' role='navigation'>
          <ul class='nav nav-tabs'>
            <li ng-repeat='tab in tabs'
              role='presentation'
              ng-class='{active: isActive(tab.url)}'
              ng-click='onTabClick(tab)'>
              <div class='tab-title'>
                {{ tab.title }}
              </div>
            </li>
          </ul>
        </div>
        <div class='tab-content row'>
          <div class='tab-pane'
            ng-show='isActive("tab.url.options")'>
            <div trade> </div>
          </div>
          <div class='tab-pane'
            ng-show='isActive("tab.url.orders")'>
            <div new-order> </div>
          </div>
          <div class='tab-pane'
              ng-show='isActive("tab.url.charts")'>
            Various charts will be displayed here.
            Currently under construction. Please visit later.
          </div>
          <div class='tab-pane'
            ng-show='isActive("tab.url.account.summary")'>
            The users account summary - balance, margin balance etc will be displayed here
            Currently under construction. Please visit later.
          </div>
          <div class='tab-pane'
            ng-show='isActive("tab.url.reports")'>
            Various reports will be displayed here.
            Currently under construction. Please visit later.
          </div>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
