<div class="quote-container" ng-controller='QuoteController as quoteController'>
  <div class="row placeholders">
    <div ng-repeat='quote in quotes'>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> {{ quote.market }} </h4>
          </div>
          <div class="panel-body">
            <h6> L: {{ quote.low }} | H: {{ quote.high }} </h6>
            Units: <input type='number' ng-model='quote.units'>
            <h3>
              <span class="label label-primary" ng-click='toggleNewOrder(quote, "sell")'>
               {{ quote.sell }} Sell
              </span>
              <span class="label label-info" ng-click='toggleNewOrder(quote, "buy")'>
                {{ quote.buy }} Buy
              </span>
            </h3>
          </div>
          <div ng-show='quote.newOrderShown'>
            <div new-order> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Add new Quote </h4>
        </div>
        <div class="panel-body">
          <img src="lib/images/add.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

