<div class="quote-container" ng-controller='QuoteController as quoteController'>
  <div class="row placeholders">
    <div ng-repeat='quote in quotes'>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> {{ quote.market }} </h4>
          </div>
          <div class="panel-body">
            <h6> L: {{ quote.low }} | H: {{ quote.high }} </h6>
            Units: <input type='number' ng-model='quote.units'>
            <h3>
              <button class="btn btn-primary" ng-click='toggleNewOrder(quote, "sell")'>
               {{ quote.sell }} Sell
              </button>
              <button class="btn btn-primary" ng-click='toggleNewOrder(quote, "buy")'>
                {{ quote.buy }} Buy
              </button>
            </h3>
          </div>
          <div ng-show='quote.newOrderShown'>
            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">New Order</h3>
              </div>
              <div class="modal-body">
                <div new-order> </div>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Add new Quote </h4>
        </div>
        <div class="panel-body">
          <img src="lib/images/add.png"/>
        </div>
      </div>
    </div>
  </div>
</div>

