<div class='order-container' ng-controller='OrderController as orderController'>
  <div class="panel panel-default">
    <table class="table">
      <tbody>
      <tr scope="row">
        <td class="text-right">Market</td>
        <td class="text-justified">
          <div class="btn-group" dropdown is-open='status.isopen'>
            <button class="btn btn-default dropdown-toggle" type="button"
              class="btn btn-primary dropdown-toggle" dropdown-toggle>
              {{ order.market.code }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat='currency in currencyPairs' ng-click='selectMarket(currency)'
                role="presentation">
                <a role="menuitem" tabindex="-1" href="#"> {{ currency.code }} </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <input type='radio' ng-model='order.type' name='orderType' value='market'> Market Order
        </td>
        <td class="text-justified">
          <input type='radio' ng-model='order.type' name='orderType' value='limit'> Limit Order
        </td>
      </tr>
      <tr>
        <td class="text-right">
        <input type='radio' ng-model='order.transaction' name='transaction' value='buy'> Buy
        </td>
        <td class="text-justified">
        <input type='radio' ng-model='order.transaction' name='transaction' value='sell'> Sell
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <span> Units </span>
        </td>
        <td class="text-justified">
          <input type='number' ng-model='order.units' required>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <span> Quote </span>
        </td>
        <td class="text-justified">
          <input type='text' ng-model='order.quote' ng-disabled='!isLimitOrder(order)'>
        </td>
      </tr>
      <tr>
        <td class="text-right">
          <span> Expires </span>
        </td>
        <td class="text-justified" style="width:50%">
          <input type='datetime-local' placeholder="yyyy-MM-ddTHH:mm:ss"
            ng-model='order.expires'>
        </td>
      </tr>
      <tr>
        <td colspan=2 class="text-center">
          <input type='button' ng-click='placeOrder(order)' value='Place Order'>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




