<div class='order-view table' ng-controller='OrderController as orderController'>
  <h4 class="sub-header"> My Orders </h4>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Order Id </th>
        <th>Market</th>
        <th>Transaction</th>
        <th>Status</th>
        <th>Type</th>
        <th>Units</th>
        <th>Price</th>
        <th>Current</th>
        <th>Expires</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat='order in orders'>
          <td> {{ order.id }} </td>
          <td> {{ order.market.code }} </td>
          <td> {{ order.transaction }} </td>
          <td> {{ order.status }} </td>
          <td> {{ order.type }} </td>
          <td> {{ order.units }} </td>
          <td> {{ order.quote }} </td>
          <td></td>
          <td> {{ order.expires | date: 'yyyy-mm-dd HH:mm'}} </td>
          <td>
            <input type='button' ng-click='cancelOrder(order)' ng-show='isLimitOrder(order)' value='Cancel'>
            <input type='button' ng-click='closeOrder(order)' ng-show='!isLimitOrder(order)' value='Close'>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
